<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>c220</title>
    <link rel="stylesheet" href="static/css/styles.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="{{ url_for('index') }}">ECommerce CS 220</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
            </div>
        </div>
    </nav>

    <div>
        <p style='padding-left: 50px;'>{{message}}</p>
    </div>

    <footer class="footer-basic ">

        <ul class="list-inline ">
            <li class="list-inline-item "><a href="# ">Home</a></li>
            <li class="list-inline-item "><a href="{{ url_for('contacts') }} ">Contacts</a></li>
            <li class="list-inline-item "><a href="# ">Services</a></li>
            <li class="list-inline-item "><a href="# ">About</a></li>
            <li class="list-inline-item "><a href="# ">Terms</a></li>
            <li class="list-inline-item "><a href="# ">Privacy Policy</a></li>
        </ul>
        <p class="copyright ">ECommerce CS 220 © 2020</p>
    </footer>


    <script>
        if ('{{ message }}' === 'missing_info') {
          alert("Email or password is missing");
        } else if ('{{ message }}' === 'email_exists') {
          alert("Email already exists");
        } 
    </script>
</body>

</html>