<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .myButton {
            box-shadow:inset 0px 39px 0px -24px #e67a73;
            background-color:#e4685d;
            border-radius:8px;
            border:1px solid #ffffff;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:15px;
            padding:6px 15px;
            text-decoration:none;
            text-shadow:0px 1px 0px #b23e35;
        }
        .myButton:hover {
            background-color:#eb675e;
        }
        .myButton:active {
            position:relative;
            top:1px;
        }  
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>c220</title>
    <link rel="stylesheet" href="../static/css/styles.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="{{ url_for('index') }}">ECommerce CS 220</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">               
                <form method='post' class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                </form>

                <a class="btn btn-light action-button" id='register_button' role="button" disabled={{login}} href="{{ url_for('register_form') }}">Sign up</a><a class="btn btn-light action-button" disabled={{login}} id='login_button' role="button" href="{{ url_for('login_form') }}">Login</a>
            </div>
        </div>
    </nav>
    <div id="demo" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

    
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="static/img/stock1.jpg" alt="stock1" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="static/img/stock2.jpg" alt="stock2" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="static/img/stock3.png" alt="stock3" width="1100" height="500">
            </div>
        </div>

        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>


    <!-- Main -->
    <div class="container">
        <div class="row">
            {%for product in products%}
        <div class="col">
            <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="{{product.ref}}" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">{{product.name}}</h4>
        <p class="card-text">${{product.price}}.00   </p>
        <!-- <a href="{{ url_for('product_info', id = product.id) }}" class="btn btn-primary">See more</a> -->
        <form class="form-inline" action='' method='POST'>
            <a href="{{ url_for('product_info', id = product.id) }}" class="myButton">See more</a>
        </form>
    </div>
    </div>
        </div>
        {% endfor %}
        
        </div>
    </div>


    <footer class="footer-basic ">

        <ul class="list-inline ">
            <li class="list-inline-item "><a href="# ">Home</a></li>
            <li class="list-inline-item "><a href="{{ url_for('contacts') }} ">Contacts</a></li>
            <li class="list-inline-item "><a href="# ">Services</a></li>
            <li class="list-inline-item "><a href="# ">About</a></li>
            <li class="list-inline-item "><a href="# ">Terms</a></li>
            <li class="list-inline-item "><a href="# ">Privacy Policy</a></li>
        </ul>
        <p class="copyright ">Company Name © 2020</p>
    </footer>

</body>

</html>